@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Knewave&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$common-chFont:'Noto Sans TC', sans-serif;
$common-enFont:'Heebo', sans-serif;
$main-enTitle:'Knewave', cursive;