.contact {
    padding: 150px 0;
    background-image: url(../img/contact-bg_2.png);
    background-position: right bottom;
    background-size: cover;
    &-form {
        width: 40%;
        p {
            line-height: 1.8;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .input, .textarea{
            width: 100%;
            border: 0;
            border-radius: 0;
            margin-bottom: 25px;
            padding: 10px;
            &::placeholder {
                font-size: 14px;
                color: #808080;
            }
        }
        .input {
            height: 55px;
        }
        .submit {
            border: 0;
            background-color: #4D4D4D;
            color: #fff;
            font-weight: 500;
            padding: 10px 25px;
        }
    }
}

@media screen and (max-width:991px) {
    .contact {
        background-position: center center;
        &-form {
            width: 70%;
        }
    }
}

@media screen and (max-width:767px) {
    .contact {
        &-form {
            width: 100%;
        }
    }
}

@media screen and (max-width:575px) {
    .contact {
        &-form {
            .input, .textarea {
                margin-bottom: 20px;
            }
        }
    }
}