@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Knewave&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: Arial;
  src: url(../font/Arial.ttf);
}

@font-face {
  font-family: 'Arial Black';
  src: url(../font/Arial-Black.ttf);
}

@font-face {
  font-family: 'Arial Bold';
  src: url(../font/Arial-Bold.ttf);
}

@font-face {
  font-family: 'Calafia-Regular';
  src: url(../font/Calafia-Regular.otf) format("opentype");
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input, textarea, button {
  outline: none;
}

.header {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #E2007F;
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
}

.header > .container {
  height: 100%;
  position: relative;
}

.header > .container > a {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_logo {
  width: 100px;
}

.header_crown {
  width: 40px;
}

.header_crown .cls-1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_nav a {
  color: #fff;
  font-family: 'Arial Bold';
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.header_nav a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav a:hover span {
  color: #F7CD4B;
}

.header_nav a:hover span.header_nav_en {
  opacity: 0;
}

.header_nav a:hover span.header_nav_ch {
  opacity: 1;
}

.header_nav li {
  margin: 0 10px;
}

.header_nav li.active a {
  color: #F7CD4B;
}

.header_nav_ch {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.header_menu {
  width: 27px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.header_menu .bar {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu .bar.top {
  top: 0;
}

.header_menu .bar.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_menu .bar.bottom {
  top: calc(100% - 2px);
}

.header_menu.active .bar {
  top: 50% !important;
  left: 50%;
}

.header_menu.active .bar.top, .header_menu.active .bar.middle {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header_menu.active .bar.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header.active {
  background-color: rgba(0, 0, 0, 0.8);
}

.header.active .header_crown .cls-1 {
  fill: #F7CD4B;
}

.footer {
  padding: 80px 0 40px;
  background-image: url(../img/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .home-title {
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 40px;
}

.footer .home-title h4 {
  font-size: 32px;
  margin-top: 15px;
}

.footer_social {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_social img {
  width: 50%;
}

.footer_social:hover {
  border-color: #E2007F;
  background-color: #E2007F;
}

.footer_place {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: 600;
}

.footer_place p {
  text-align: center;
  color: #fff;
  margin: 0 0 2px;
}

.footer_place a {
  text-align: center;
  color: #F7CD4B;
}

.footer_phone {
  padding-top: 15px;
  margin-bottom: 100px;
}

.footer_phone p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.footer_phone p a {
  color: #fff;
}

.footer_copyright {
  text-align: center;
  color: #fff;
  opacity: 0.6;
  padding: 0 20px;
}

main {
  padding-top: 70px;
}

.container {
  padding: 0 20px;
}

.title-main {
  font-size: 100px;
  font-family: "Calafia-Regular";
}

.title-second {
  font-family: "Arial Black";
  font-size: 24px;
  font-weight: bold;
}

.title-third span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #E2007F;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5px;
  padding: 0 25px 0 15px;
  background-position: 0 70%;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.title-third.join span {
  margin: 0 auto;
  background-image: url(../img/textBg-join.svg);
  padding: 0 5px;
  font-size: 32px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.title-third.tt-story span {
  background-image: url(../img/yellow-line.png);
}

.title-third.tt-news span {
  background-image: url(../img/textBg-new.svg);
}

.title-third.tt-menu span {
  background-image: url(../img/textBg-new.svg);
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
}

.title-third.tt-branch span {
  background-image: url(../img/textBg-new.svg);
  color: #fff;
}

.title-content {
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}

.title-content h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 5px;
}

.title-content h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.btn-more {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

.btn-more svg {
  width: 80px;
  display: block;
}

.btn-more svg .cls-1 {
  fill: rgba(0, 0, 0, 0.5);
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

.btn-more span {
  font-family: "Calafia-Regular";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-more:hover span {
  color: #F7CD4B;
}

.banner-common {
  width: 100%;
  padding-bottom: 37%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-common_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.banner-common h1 {
  font-size: 120px;
  margin: 0;
}

.banner-common h2 {
  font-size: 22px;
  margin-top: -13px;
  letter-spacing: 0.05em;
}

.banner-common hr {
  opacity: 1;
  margin: 18px 0 23px;
}

.banner-common h3 {
  font-size: 20px;
  letter-spacing: 0.15em;
  font-weight: 600;
}

.banner-tab {
  padding: 100px 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.banner-tab_item {
  margin-top: 40px;
}

.banner-tab_link {
  margin: 0 30px;
  cursor: pointer;
}

.banner-tab_link:first-child {
  margin-left: 0;
}

.banner-tab_link:last-child {
  margin-right: 0;
}

.banner-tab_icon {
  border-radius: 50%;
  position: relative;
  margin: 0 auto 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 90px;
  height: 90px;
}

.banner-tab_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner-tab_icon img.hover {
  opacity: 0;
}

.banner-tab_text {
  text-align: center;
}

.banner-tab_text h5 {
  font-family: "Arial Black";
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.banner-tab_text h6 {
  font-size: 12px;
  font-weight: bold;
  margin: 2px 0 0;
}

.content_text ol {
  padding-left: 18px;
}

.content_text ol li {
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  font-weight: 500;
}

.content_text h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
  .title-main {
    font-size: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .title-main {
    font-size: 80px;
    margin-bottom: 0;
  }
  .title-second {
    margin-bottom: 0;
  }
  .banner-tab_text h5 {
    font-size: 14px;
  }
  .content_text h3 {
    font-size: 22px;
  }
  .content_text ol li {
    font-size: 14px;
  }
  .content_text p {
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .title-second {
    font-size: 26px;
  }
  .title-third {
    font-size: 24px;
  }
  .banner-common h1 {
    font-size: 100px;
  }
  .banner-common h2 {
    font-size: 20px;
  }
  .banner-common hr {
    margin: 13px 0 13px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .header > .container {
    max-width: none;
    padding: 0 20px;
  }
  .header_nav {
    position: fixed;
    width: 200px;
    height: calc(100vh - 60px);
    top: 60px;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: none;
            transform: none;
    padding: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_nav li {
    margin: 0 0 10px;
  }
  .header_nav.active {
    left: calc(100% - 200px);
  }
  main {
    padding-top: 60px;
  }
  .title-second {
    font-size: 18px;
  }
  .title-third {
    font-size: 18px;
  }
  .banner-common h1 {
    font-size: 80px;
  }
  .banner-common h2 {
    font-size: 18px;
  }
  .banner-common hr {
    margin: 10px 0 10px;
  }
  .banner-common h3 {
    font-size: 18px;
  }
  .banner-tab_link {
    margin: 0 15px;
  }
}

@media screen and (max-width: 575px) {
  .title-main {
    font-size: 60px;
  }
  .title-third.tt-menu span {
    font-size: 24px;
  }
  .title-third.join span {
    font-size: 28px;
  }
  .footer .home-title h4 {
    font-size: 28px;
  }
  .footer_social {
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }
  .banner-common {
    padding-bottom: 100%;
  }
  .banner-common h1 {
    font-size: 70px;
  }
  .banner-tab {
    padding: 80px 0;
  }
  .banner-tab_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .banner-tab_link {
    margin: 0 0 30px;
    width: 35%;
  }
  .banner_icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .banner_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 65%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .banner_icon img.hover {
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {
  .footer_place {
    font-size: 16px;
  }
  .footer_phone p {
    font-size: 16px;
  }
  .footer_copyright {
    font-size: 14px;
  }
  .banner-tab_link {
    width: 40%;
  }
  .banner-tab_icon {
    width: 80px;
    height: 80px;
  }
}

.home-banner {
  position: relative;
  width: 100%;
  padding-bottom: 51%;
  overflow: hidden;
}

.home-banner img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-banner #banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.home-banner #chicken-1 {
  width: 104%;
}

.home-banner .parallax {
  position: absolute;
}

.home-title {
  margin-bottom: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-story > .row {
  margin: 0;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.home-story > .row > div {
  padding: 0;
}

.home-story_link {
  margin: 0 15px;
}

.home-story_link:hover .home-story_icon {
  background-color: #E2007F;
}

.home-story_link:hover .home-story_icon img.normal {
  opacity: 0;
}

.home-story_link:hover .home-story_icon img.hover {
  opacity: 1;
}

.home-story_icon {
  width: 110px;
  height: 110px;
}

.home-story_content {
  background-image: url(../img/bg-wood.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
}

.home-story_content_inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-news {
  padding: 80px 0;
  background-image: url(../img/home-news-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-news .home-title {
  margin: 0;
  width: 100%;
}

.home-news_left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.home-news_right {
  width: 75%;
  position: relative;
  padding: 0 80px;
}

.home-news_slider_next, .home-news_slider_prev {
  background-image: url(../img/slider-arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 90px;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-news_slider_next::after, .home-news_slider_prev::after {
  display: none;
}

.home-news_slider_next {
  -webkit-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
}

.home-menu {
  padding: 100px 0;
  background-image: url(../img/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-menu .home-title {
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 0;
}

.home-menu .home-title .title-third {
  color: #fff;
}

.home-menu_slider {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-menu_slider img {
  width: 100%;
}

.home-menu_slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-menu_slider .swiper-slide-active .home-menu_product {
  width: 100%;
  padding-bottom: 80%;
}

.home-menu_slider_next, .home-menu_slider_prev {
  background-image: url(../img/slider-arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 100px;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-menu_slider_next::after, .home-menu_slider_prev::after {
  display: none;
}

.home-menu_slider_next {
  left: inherit;
  right: 25%;
  -webkit-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
}

.home-menu_slider_prev {
  left: 25%;
}

.home-menu_sliderBox {
  position: relative;
  width: 100%;
  padding-bottom: 45%;
}

.home-menu_product {
  width: 40%;
  padding-bottom: calc(40% * 0.8);
  position: relative;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-menu_product .prodictPic {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.home-menu .btn-more {
  margin: 0 auto 0;
}

.home-join .row {
  margin: 0;
  position: relative;
}

.home-join .row > div {
  padding: 0;
}

.home-join_content {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  color: #fff;
  display: block;
}

.home-join_content:hover .home-join_mask {
  background-color: rgba(226, 0, 127, 0.8);
}

.home-join_content:hover .home-join_text {
  color: #F7CD4B;
}

.home-join_left {
  background-image: url(../img/join-bg-1.png);
}

.home-join_left .home-join_text {
  left: 50px;
}

.home-join_right {
  background-image: url(../img/join-bg-2.png);
}

.home-join_right .home-join_text {
  right: 50px;
  text-align: right;
}

.home-join_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-join_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-join_text h2 {
  font-family: "Calafia-Regular";
  font-size: 50px;
  margin-bottom: 15px;
}

.home-join_text h3 {
  font-weight: bold;
}

.home-join .home-title {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 2px 10px rgba(255, 255, 255, 0.7);
          box-shadow: 0 2px 10px rgba(255, 255, 255, 0.7);
  margin: 0;
}

.home-join .home-title h2, .home-join .home-title h4 {
  width: 100%;
  text-align: center;
}

.home-join .home-title h4 {
  font-size: 32px;
}

.home-branch {
  padding: 100px 0;
  background-image: url(../img/home-branch-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-branch_left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-branch_right {
  width: 65%;
}

.home-branch .home-title {
  color: #fff;
  width: 100%;
}

.home-branch .home-title h4 {
  color: #fff;
}

.home-branch_tab {
  width: 200px;
}

.home-branch_tab_item {
  background-color: #000;
  border: 1px solid #fff;
  border-top: 0;
  color: #fff;
  padding: 30px 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-branch_tab_item:first-child {
  border-top: 1px solid #fff;
}

.home-branch_tab_item p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-branch_tab_item .en {
  font-family: "Arial Black";
  font-size: 22px;
  font-weight: bold;
}

.home-branch_tab_item .ch {
  margin-top: -5px;
}

.home-branch_tab_item:hover, .home-branch_tab_item.active {
  background-color: #E2007F;
  color: #F7CD4B;
}

.home-branch_map {
  width: calc(100% - 200px);
}

.home-branch_map #map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .home-story_icon {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .home-story_icon {
    width: 80px;
    height: 80px;
  }
  .home-story_text h5 {
    font-size: 14px;
  }
  .home-branch_left {
    width: 30%;
  }
  .home-branch_right {
    width: 70%;
  }
  .home-branch .home-title .title-main {
    font-size: 65px;
  }
}

@media screen and (max-width: 991px) {
  .home-title {
    margin-bottom: 60px;
  }
  .home-story_content {
    padding: 50px 20px !important;
  }
  .home-story_content_inner {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .home-news_left {
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-news_left .home-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home-news_left .btn-more {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .home-news_right {
    width: 100%;
    padding: 0 50px;
  }
  .home-news_slider_next, .home-news_slider_prev {
    width: 25px;
  }
  .home-menu_slider_next, .home-menu_slider_prev {
    width: 30px;
  }
  .home-join .home-title {
    width: 200px;
    height: 200px;
  }
  .home-join .home-title h2 {
    font-size: 60px;
  }
  .home-join .home-title h4 {
    font-size: 28px;
  }
  .home-branch_left {
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-branch_left .home-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0;
  }
  .home-branch_left .btn-more {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .home-branch_right {
    width: 100%;
  }
  .home-branch_tab {
    width: 150px;
  }
  .home-branch_map {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .home-join_mask {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .home-banner {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
  }
  .home-banner img:not(.banner-title) {
    position: absolute;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
  }
  .home-banner .banner-title {
    top: 50%;
    width: 140%;
    left: 50%;
    -webkit-transform: translate(-53%, -60%);
            transform: translate(-53%, -60%);
  }
}

@media screen and (max-width: 575px) {
  .home-story_link {
    width: 50%;
    margin: 0 0 50px;
  }
  .home-story_icon {
    width: 100px;
    height: 100px;
  }
  .home-news_right {
    padding: 0 20px;
  }
  .home-news_left .home-title {
    width: 100%;
    margin-bottom: 30px;
  }
  .home-news_left .btn-more {
    -webkit-transform: none;
            transform: none;
  }
  .home-news_slider_next, .home-news_slider_prev {
    width: 20px;
  }
  .home-news_slider_next {
    -webkit-transform: translate(20px, -50%) scaleX(-1);
            transform: translate(20px, -50%) scaleX(-1);
  }
  .home-news_slider_prev {
    -webkit-transform: translate(-20px, -50%);
            transform: translate(-20px, -50%);
  }
  .home-menu_slider {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .home-menu_sliderBox {
    padding-bottom: 0;
    margin: 20px 0;
  }
  .home-menu_slider .swiper-slide-active .home-menu_product {
    width: 80%;
    padding-bottom: calc(80% * 0.8);
  }
  .home-menu_slider_next {
    right: 20px;
  }
  .home-menu_slider_prev {
    left: 20px;
  }
  .home-menu_product {
    width: 80%;
    padding-bottom: calc(80% * 0.8);
  }
  .home-join_left .home-join_text {
    left: 20px;
  }
  .home-join_right .home-join_text {
    right: 20px;
  }
  .home-join h2 {
    font-size: 40px;
  }
  .home-branch_left .home-title {
    width: 100%;
    margin-bottom: 30px;
  }
  .home-branch_left .btn-more {
    -webkit-transform: none;
            transform: none;
  }
  .home-branch_tab {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-branch_tab_item {
    width: 50%;
    padding: 15px 20px;
    border-color: transparent #fff #fff transparent;
  }
  .home-branch_tab_item:first-child, .home-branch_tab_item:nth-child(3) {
    border-left: 1px solid #fff;
  }
  .home-branch_tab_item:nth-child(2) {
    border-top: 1px solid #fff;
  }
  .home-branch_tab_item .en {
    font-size: 18px;
  }
  .home-branch_tab_item p {
    font-size: 16px;
  }
  .home-branch_map {
    width: 100%;
    padding-bottom: 62%;
    position: relative;
  }
  .home-branch_map #map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .home-menu_slider .swiper-slide-active .home-menu_product {
    width: 70%;
    padding-bottom: calc(70% * 0.8);
  }
  .home-menu_slider_next, .home-menu_slider_prev {
    width: 20px;
  }
  .home-join .home-title {
    width: 150px;
    height: 150px;
  }
  .home-join .home-title h2 {
    font-size: 46px;
  }
  .home-join .home-title h4 {
    font-size: 22px;
  }
  .home-join h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .home-join_left .home-join_text {
    top: 40%;
  }
  .home-join_right .home-join_text {
    top: 60%;
  }
  .home-branch_tab_item {
    padding: 10px 15px;
  }
  .home-branch_tab_item p {
    font-size: 14px;
  }
  .home-branch_tab_item .en {
    font-size: 16px;
  }
  .home-branch_map {
    padding-bottom: 100%;
  }
}

.story-banner {
  background-image: url(../img/bg-wood.png);
}

.story-banner_link:hover .banner-tab_icon {
  background-color: #E2007F;
}

.story-banner_link:hover .banner-tab_icon img.normal {
  opacity: 0;
}

.story-banner_link:hover .banner-tab_icon img.hover {
  opacity: 1;
}

.story-banner_icon {
  background-color: #F7CD4B;
}

.story-content {
  background-image: url(../img/story-bg.png);
  padding: 70px 0 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.story-content_item {
  padding: 70px 15% 70px 70px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.story-content_item:nth-child(even) {
  padding: 50px 50px 50px 13%;
  margin-left: auto;
  margin-right: 0;
}

.story-content_item:nth-child(even) .story-content_pic {
  left: inherit;
  right: 80%;
}

.story-content_item:first-child .story-content_pic {
  top: 7%;
}

.story-content_item:nth-child(2) {
  margin-top: -20px;
  padding: 80px 70px 70px 16%;
}

.story-content_item:nth-child(3) {
  margin-top: -50px;
  padding: 100px 15% 120px 70px;
}

.story-content_item:nth-child(3) .story-content_pic {
  z-index: 20;
}

.story-content_item:nth-child(4) {
  margin-top: -80px;
  padding: 170px 70px 100px 16%;
}

.story-content_item p {
  margin: 0;
}

.story-content_pic {
  height: 100%;
  top: 0;
  left: 81%;
  position: absolute;
  z-index: 10;
}

.story-content_title h3 {
  color: #E2007F;
  font-size: 30px;
  font-weight: bold;
}

.story-content_title h4 {
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.story-content_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #E2007F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story-content_icon img {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .story-content_item p {
    font-size: 14px;
  }
  .story-content_title h3 {
    font-size: 28px;
  }
  .story-content_title h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .story-content {
    padding-bottom: 0;
    padding-top: 0;
  }
  .story-content_pic {
    position: static;
    width: 100% !important;
    height: auto !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .story-content_item {
    width: 100%;
  }
  .story-content_item:nth-child(1), .story-content_item:nth-child(2), .story-content_item:nth-child(3), .story-content_item:nth-child(4) {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    margin-top: 0;
  }
  .story-content_text {
    padding: 20px 20px 40px;
  }
}

@media screen and (max-width: 740px) {
  .story-content_title h3 {
    font-size: 24px;
  }
  .story-content_icon {
    width: 40px;
    height: 40px;
  }
}

.news-banner {
  background-image: url(../img/news-banner.png);
}

.news-banner h1, .news-banner h2, .news-banner h3 {
  padding: 0 30px;
}

.news-banner hr {
  color: #E2007F;
}

.news-card {
  display: block;
}

.news-card_pic {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.news-card_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.news-card_text {
  background-color: #fff;
  padding: 15px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.news-card_text h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
}

.news-card_content {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 40px;
}

.news-card_dur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.news-card_durLine {
  margin: 0 5px 0 10px;
  width: 40px;
  height: 1px;
  background-color: #000;
}

.news-content {
  padding: 100px 0;
  background-image: url(../img/new-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-content .row {
  margin-left: 0;
  margin-right: 0;
}

.news-content .news-card {
  margin-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.news-content .news-card::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px + 10px);
  height: 5px;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -5px;
  left: 10px;
  opacity: 0;
}

.news-content .news-card::after {
  position: absolute;
  content: "";
  width: calc(100% - 30px + 10px);
  height: 5px;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: -5px;
  left: 10px;
  opacity: 0;
}

.news-content .news-card_pic::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: -5px;
  opacity: 0;
}

.news-content .news-card_pic::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  right: -5px;
  opacity: 0;
}

.news-content .news-card_text::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: -5px;
  opacity: 0;
}

.news-content .news-card_text::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #F7CD4B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  right: -5px;
  opacity: 0;
}

.news-content .news-card:hover::before, .news-content .news-card:hover::after {
  opacity: 1;
}

.news-content .news-card:hover .news-card_pic::before, .news-content .news-card:hover .news-card_pic::after, .news-content .news-card:hover .news-card_text::before, .news-content .news-card:hover .news-card_text::after {
  opacity: 1;
}

.news-inner {
  padding: 100px 0;
  background-image: url(../img/news-content-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-inner_pic {
  width: 100%;
}

.news-inner_text {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100%;
}

.news-inner_text > div {
  width: 100%;
}

.news-inner_title {
  font-size: 22px;
  font-weight: 600;
  color: #E2007F;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.news-inner_content {
  letter-spacing: 0.14em;
  line-height: 1.8;
  font-weight: 500;
}

.news-inner_date {
  margin-top: 40px;
}

.news-inner .btn-more {
  margin-left: auto;
}

.news_title {
  margin-bottom: 40px;
}

.news_title h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  width: 210px;
}

.news_title_line {
  width: calc(100% - 210px);
  margin-left: 10px;
  height: 2px;
  background-color: #000;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (max-width: 991px) {
  .news-inner_text {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news-card_text {
    padding: 10px 15px;
  }
  .news-card_content {
    margin-bottom: 25px;
  }
  .news-content .news-card {
    margin-bottom: 40px;
  }
  .news-inner_text {
    padding-left: 0;
    padding-top: 30px;
  }
  .news-inner .btn-more {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .news-banner {
    background-image: url(../img/news-banner-m.png);
  }
  .news-banner h1, .news-banner h2, .news-banner h3 {
    padding: 0 20px;
  }
  .news-banner .banner-common_text {
    width: 250px;
  }
  .news-content .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .news-content .news-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .news-content .news-card::before {
    width: calc(100% - 20px + 10px);
    left: 5px;
  }
  .news-content .news-card::after {
    width: calc(100% - 20px + 10px);
    left: 5px;
  }
  .news_title {
    margin-bottom: 30px;
  }
  .news-inner {
    padding: 50px 0;
  }
}

@media screen and (max-width: 370px) {
  .news-content .row > .news-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

.menu-banner {
  background-image: url(../img/menu-banner.png);
  color: #fff;
}

.menu-banner hr {
  background-color: #F7CD4B;
}

.menu-pic .row {
  margin: 0;
}

.menu-pic .row > div {
  padding: 0;
}

.menu-pic_content {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
  cursor: pointer;
}

.menu-pic_content img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-pic_content:hover .menu-pic_mask {
  opacity: 0;
}

.menu-pic_content:hover .menu-pic_title {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.menu-pic_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-pic_title {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(255, 255, 255, 0.7);
          box-shadow: 0 1px 15px rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-pic_title h4 {
  font-family: "Calafia-Regular";
  font-size: 40px;
  margin: 0;
}

.menu-pic_title h4.midsouth {
  font-size: 32px;
}

.menu-pic_title h5 {
  font-size: 20px;
  color: #E2007F;
  font-weight: 600;
  padding: 0 5px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 60%;
}

.menu-pic_title h5.nothern {
  background-image: url(../img/textBg-northern.svg);
}

.menu-pic_title h5.midsouth {
  background-image: url(../img/textBg-midsouth.svg);
}

.menu-popup .modal-dialog {
  max-width: inherit;
  margin: 0;
}

.menu-popup .modal-content {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0;
}

.menu-popup .modal-body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.menu-popup .modal-body .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu-popup_pic {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-slider {
  padding: 60px 0 120px;
}

.menu-slider_title {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.menu-slider_title h2 {
  font-size: 48px;
  font-family: "Calafia-Regular";
  margin: 0;
  font-weight: 600;
}

.menu-slider_title h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.menu-slider_curve {
  position: absolute;
  width: 30px !important;
  top: 5%;
  left: 45%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-slider_name {
  text-align: center;
  color: #fff;
  width: 100%;
  top: -30px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 32px;
}

.menu-slider .swiper-slide-active .menu-slider_name, .menu-slider .swiper-slide-active .menu-slider_curve {
  opacity: 1;
}

.menu-content_pic {
  width: 55%;
  padding-bottom: calc(55% * 0.9);
  position: relative;
}

.menu-content_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-content_text {
  width: 45%;
  background-image: url(../img/product-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 70px 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.menu-content_text > div {
  width: 100%;
}

.menu-content_text p {
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  font-weight: 500;
}

.menu-content_text .btn-more {
  margin-left: auto;
}

.menu-content_title {
  color: #F7CD4B;
  border-bottom: 1px solid #F7CD4B;
}

@media screen and (max-width: 1200px) {
  .menu-content_text {
    padding: 70px 50px 30px;
  }
}

@media screen and (max-width: 991px) {
  .menu-slider_name {
    font-size: 26px;
  }
  .menu-content_text {
    padding: 40px 30px;
  }
  .menu-content_text p {
    font-size: 15px;
  }
  .menu-content_title {
    margin-bottom: 15px;
  }
  .menu-content_title h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .menu-banner h2 {
    width: 330px;
    margin-top: -5px;
  }
  .menu-slider_title {
    margin-bottom: 55px;
  }
  .menu-slider_name {
    margin-bottom: 30px;
  }
  .menu-slider_curve {
    top: -8%;
  }
  .menu-content_pic {
    width: 100%;
    padding-bottom: 90%;
  }
  .menu-content_text {
    width: 100%;
  }
  .menu-content_text .btn-more {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .menu-banner {
    background-image: url(../img/menu-banner-m.png);
  }
  .menu-pic_mask {
    opacity: 0;
  }
  .menu-pic_title {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    width: 120px;
    height: 120px;
  }
  .menu-pic_title h4 {
    font-size: 36px;
  }
  .menu-pic_title h4.midsouth {
    font-size: 26px;
  }
  .menu-pic_title h5 {
    font-size: 18px;
  }
  .menu-slider_curve {
    top: 0;
  }
  .menu-slider_name {
    margin-bottom: 20px;
  }
  .menu-slider_title h2 {
    line-height: 1;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .menu-banner h2 {
    font-size: 16px;
    width: 290px;
  }
}

.join_title {
  color: #E2007F;
}

.join-manager {
  background-image: url(../img/join-manager-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.join-manager_pic {
  width: 40%;
  padding-bottom: calc(30% * 1.31);
  position: relative;
}

.join-manager_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.join-manager_text {
  width: 60%;
  padding: 70px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.join-manager_phone {
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  background-color: #E2007F;
  letter-spacing: 0.05em;
}

.join-manager_phone:hover {
  color: #fff;
}

.join-manager .btn-more {
  margin-bottom: 10px;
}

.join-manager .btn-more span {
  color: #F5A900;
}

.join-franchise_banner {
  background-image: url(../img/join-franchise-banner.png);
  color: #fff;
}

.join-franchise_banner .title-main {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
}

.join-franchise_banner .title-main::after {
  width: 75%;
  height: 2px;
  background-color: #F7CD4B;
  position: absolute;
  content: "";
  bottom: -5px;
  left: 10%;
}

.join-franchise_banner .title-third span {
  position: static;
  color: #fff;
  margin: 0 auto;
  font-size: 28px;
}

.join-franchise_banner_icon {
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.join-franchise_banner .banner-tab_link:hover .banner-tab_icon {
  border-color: #E2007F;
  background-color: #E2007F;
}

.join-franchise_content {
  background-image: url(../img/join-franchise-bg.png);
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.join-franchise_pic {
  width: 40%;
  padding-bottom: 40%;
  position: relative;
}

.join-franchise_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.join-franchise_text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.join-franchise_text .join_title {
  width: 100%;
}

.join-franchise_text p {
  width: 100%;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.join-franchise_item:nth-child(odd) .join-franchise_text {
  padding: 40px 80px 40px 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.join-franchise_item:nth-child(even) .join-franchise_text {
  padding: 40px 40px 40px 80px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.join-franchise_item:nth-child(even) .join-franchise_pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.join-franchise_flow {
  margin-top: 30px;
}

.join-franchise_flow > div {
  margin-bottom: 15px;
}

.join-franchise_flow > div:nth-child(1) .join-franchise_flow_item {
  background-image: url(../img/flow-1.svg);
}

.join-franchise_flow > div:nth-child(2) .join-franchise_flow_item {
  background-image: url(../img/flow-2.svg);
}

.join-franchise_flow > div:nth-child(3) .join-franchise_flow_item {
  background-image: url(../img/flow-3.svg);
}

.join-franchise_flow > div:nth-child(4) .join-franchise_flow_item {
  background-image: url(../img/flow-4.svg);
}

.join-franchise_flow > div:nth-child(5) .join-franchise_flow_item {
  background-image: url(../img/flow-5.svg);
}

.join-franchise_flow > div:nth-child(6) .join-franchise_flow_item {
  background-image: url(../img/flow-6.svg);
}

.join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
  font-size: 32px !important;
  color: #E2007F;
  top: 42%;
}

.join-franchise_flow_item {
  position: relative;
  width: 100%;
  padding-bottom: 48.28%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.join-franchise_flow_title {
  font-weight: 700 !important;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 13%;
  line-height: 1.3 !important;
  font-size: 22px !important;
}

@media screen and (max-width: 1500px) {
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 28px !important;
  }
  .join-franchise_flow_title {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 1400px) {
  .join-franchise_flow_title {
    top: 33%;
  }
}

@media screen and (max-width: 1300px) {
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 24px !important;
  }
  .join-franchise_flow_title {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1200px) {
  .join-manager_text {
    padding: 40px 30px;
  }
  .join-manager_title {
    margin-bottom: 15px;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  .join-franchise_item:nth-child(odd) .join-franchise_text {
    padding: 30px;
  }
  .join-franchise_text p {
    font-size: 15px;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 28px !important;
  }
  .join-franchise_flow_title {
    font-size: 20px !important;
    top: 35%;
  }
}

@media screen and (max-width: 767px) {
  .join-manager_pic {
    width: 100%;
    padding-bottom: 131%;
  }
  .join-manager_text {
    width: 100%;
    padding: 40px 20px;
  }
  .join-manager_text .btn-more {
    margin: 30px 0 10px;
  }
  .join-franchise_pic {
    width: 100%;
    padding-bottom: 100%;
  }
  .join-franchise_text {
    width: 100%;
    padding: 40px 30px !important;
    background-image: url(../img/join-franchise-bg.png);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 36px !important;
  }
  .join-franchise_flow_title {
    font-size: 28px !important;
    top: 35%;
  }
  .join-franchise_item:nth-child(even) .join-franchise_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .join-franchise_item:nth-child(even) .join-franchise_pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .join-franchise_content {
    background-image: none;
  }
}

@media screen and (max-width: 700px) {
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 32px !important;
  }
  .join-franchise_flow_title {
    font-size: 24px !important;
    top: 35%;
  }
}

@media screen and (max-width: 575px) {
  .join-manager_phone {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 28px !important;
  }
  .join-franchise_flow_title {
    font-size: 22px !important;
    top: 33%;
  }
}

@media screen and (max-width: 500px) {
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 24px !important;
  }
  .join-franchise_flow_title {
    font-size: 18px !important;
    top: 33%;
  }
}

@media screen and (max-width: 450px) {
  .join-franchise_flow > div {
    width: 100%;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 40px !important;
  }
  .join-franchise_flow_title {
    font-size: 32px !important;
    top: 35%;
  }
}

@media screen and (max-width: 400px) {
  .join-franchise_flow > div {
    width: 100%;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 36px !important;
  }
  .join-franchise_flow_title {
    font-size: 28px !important;
    top: 35%;
  }
}

@media screen and (max-width: 350px) {
  .join-franchise_flow > div {
    width: 100%;
  }
  .join-franchise_flow > div:nth-child(6) .join-franchise_flow_title {
    font-size: 32px !important;
  }
  .join-franchise_flow_title {
    font-size: 24px !important;
    top: 34%;
  }
}

.branch_map {
  width: 55%;
  padding-bottom: calc(55% * 0.76);
  position: relative;
}

.branch_map #branch_map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.branch_list {
  width: 45%;
  background-image: url(../img/branch-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 40px 30px;
}

.branch_list_inner {
  color: #fff;
}

.branch_list_inner .row {
  margin: 0;
}

.branch_list_inner .row > li {
  padding: 0;
}

.branch_list_inner .nav-link {
  border-radius: 0;
  padding: 20px 15px;
  width: 100%;
  text-align: left;
  color: #fff;
  border: 2px solid;
  border-width: 0 2px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.branch_list_inner .nav-link p {
  margin: 0;
}

.branch_list_inner .nav-link.active, .branch_list_inner .nav-link:hover {
  background-color: #E2007F;
  color: #F7CD4B;
}

.branch_list_inner .nav-item:last-child .nav-link {
  border-right: 0;
}

.branch_list_inner .nav-tabs {
  border: 2px solid #fff;
  border-bottom: 0;
  background-color: #000;
}

.branch_tab_en {
  font-weight: 900;
}

.branch_tab_ch {
  font-size: 14px;
  font-weight: 700;
}

.branch_table {
  overflow-y: auto;
  max-height: 620px;
  border: 2px solid #fff;
  background-color: #000;
}

.branch_table::-webkit-scrollbar {
  background-color: #000;
  border-left: 1px solid #fff;
  width: 10px;
}

.branch_table::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px;
  width: 8px;
}

.branch_table table {
  width: 100%;
}

.branch_table table td {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 2px solid #fff;
  font-weight: 600;
}

.branch_table table td svg {
  width: 30px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.branch_table table td svg .cls-1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.branch_table table tr {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.branch_table table tr:last-child td {
  border: 0;
}

.branch_table table tr:hover {
  background-color: #E2007F;
}

.branch_table table tr:hover svg .cls-1 {
  fill: #F7CD4B;
}

@media screen and (max-width: 1400px) {
  .branch_map {
    width: 100%;
    padding-bottom: 0;
    height: 500px;
  }
  .branch_list {
    width: 100%;
  }
  .branch_table {
    max-height: none;
  }
}

@media screen and (max-width: 767px) {
  .branch_list {
    padding: 40px 20px;
  }
  .branch_table table td {
    text-align: left;
    vertical-align: top;
  }
  .branch_table_crown {
    width: 50px;
  }
}

@media screen and (max-width: 767px) {
  .branch_list_inner .nav-item:first-child, .branch_list_inner .nav-item:nth-child(2) {
    border-bottom: 2px solid #fff;
  }
}

.contact {
  padding: 150px 0;
  background-image: url(../img/contact-bg_2.png);
  background-position: right bottom;
  background-size: cover;
}

.contact-form {
  width: 40%;
}

.contact-form p {
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-form .input, .contact-form .textarea {
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-bottom: 25px;
  padding: 10px;
}

.contact-form .input::-webkit-input-placeholder, .contact-form .textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #808080;
}

.contact-form .input:-ms-input-placeholder, .contact-form .textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #808080;
}

.contact-form .input::-ms-input-placeholder, .contact-form .textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #808080;
}

.contact-form .input::placeholder, .contact-form .textarea::placeholder {
  font-size: 14px;
  color: #808080;
}

.contact-form .input {
  height: 55px;
}

.contact-form .submit {
  border: 0;
  background-color: #4D4D4D;
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
}

@media screen and (max-width: 991px) {
  .contact {
    background-position: center center;
  }
  .contact-form {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .contact-form .input, .contact-form .textarea {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */